body {
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1 {
    color: #f4f4f4;
}

h2, h3 {
    color: #d32d2f;
}

* {
    scroll-behavior: smooth;
}

header {
    background-color: #d32d2f;
    color: white;
    padding: 20px;
    text-align: center;
    background-image: url('../assets/OldTrafford.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    color: white;
    text-shadow: 1px 1px 2px black;
    height: 300px;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #b02527;
}

main {
    margin: 20px;
}

article {
    margin-bottom: 30px;
}

#overview p {
    text-align: justify;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #d32d2f;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

img {
    width: 30px;
    height: auto;
}

#kits {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#kits article {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px;
    width: 250px;
}

figure {
    margin: 0;
    text-align: center;
}

figure img {
    width: 100%;
    border-radius: 8px;
}

figcaption {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    padding: 20px;
    margin: 20px 30px;
    font-size: 0.875rem;
    line-height: 1.6;
    border-radius: 4px;
    width: 300px;
    float: right;
}

aside h2, aside h3 {
    text-align: center;
    font-size: 1.125rem;
    color: #54595d;
    margin-top: 0;
    margin-bottom: 10px;
}

aside p {
    margin-bottom: 1.5em;
}

aside img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

aside a {
    color: #0645ad;
    text-decoration: none;
}

aside a:hover {
    text-decoration: underline;
}

.large-image {
    width: 200px;
    height: auto;
}

footer {
    background-color: #d32d2f;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    aside {
        width: 25%;
    }
}